@import "tailwindcss";

:root {
  --color-background: white;
  --color-foreground: rgb(2, 8, 23);

  --color-card: white;
  --color-card-foreground: rgb(2, 8, 23);

  --color-popover: white;
  --color-popover-foreground: rgb(2, 8, 23);

  --color-primary: rgb(15, 23, 42);
  --color-primary-foreground: rgb(241, 245, 249);

  --color-secondary: rgb(241, 245, 249);
  --color-secondary-foreground: rgb(15, 23, 42);

  --color-muted: rgb(241, 245, 249);
  --color-muted-foreground: rgb(100, 116, 139);

  --color-accent: rgb(241, 245, 249);
  --color-accent-foreground: rgb(15, 23, 42);

  --color-destructive: rgb(239, 68, 68);
  --color-destructive-foreground: rgb(241, 245, 249);

  --color-border: rgb(226, 232, 240);
  --color-input: rgb(226, 232, 240);
  --color-ring: rgb(2, 8, 23);

  --radius-default: 0.5rem;
}

.dark {
  --color-background: rgb(2, 8, 23);
  --color-foreground: rgb(241, 245, 249);

  --color-card: rgb(2, 8, 23);
  --color-card-foreground: rgb(241, 245, 249);

  --color-popover: rgb(2, 8, 23);
  --color-popover-foreground: rgb(241, 245, 249);

  --color-primary: rgb(241, 245, 249);
  --color-primary-foreground: rgb(15, 23, 42);

  --color-secondary: rgb(30, 41, 59);
  --color-secondary-foreground: rgb(241, 245, 249);

  --color-muted: rgb(30, 41, 59);
  --color-muted-foreground: rgb(148, 163, 184);

  --color-accent: rgb(30, 41, 59);
  --color-accent-foreground: rgb(241, 245, 249);

  --color-destructive: rgb(127, 29, 29);
  --color-destructive-foreground: rgb(241, 245, 249);

  --color-border: rgb(30, 41, 59);
  --color-input: rgb(30, 41, 59);
  --color-ring: rgb(226, 232, 240);
}

@utility base {
  * {
    border-color: var(--color-border);
  }
  
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    min-height: 100vh;
  }
  
  #root {
    min-height: 100vh;
  }
}
