name: winget
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Release tag to publish (e.g., v1.20.5)'
        required: true
        type: string

env:
  WINGET_CREATE_GITHUB_TOKEN: ${{ secrets.WINGET_GH_TOKEN }}

permissions: {}

jobs:
  publish:
    runs-on: windows-latest
    steps:
      - name: publish
        env:
          VERSION: ${{ inputs.release_tag || github.event.release.tag_name }}
        run: |
          $Version = $ENV:VERSION
          $PackageId = "Docker.Cagent"
          $Urls = @(
            "https://github.com/docker/cagent/releases/download/$Version/cagent-windows-amd64.exe|amd64",
            "https://github.com/docker/cagent/releases/download/$Version/cagent-windows-arm64.exe|arm64"
          )
          & curl.exe -JLO https://aka.ms/wingetcreate/latest
          & .\wingetcreate.exe update $PackageId -s -v $Version -u $Urls
